$black-normal: #141516;
$black-dark: #050607;
$black-light: #272829;

$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$purple-normal: #7B6BFA;
$purple-dark: #6E5FE5;
$purple-light: #8F81FF;

$gray-1: #777;

.color-gray {
  color: $gray-1;
}

